<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-4.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<import resource="spring-hibernate4.xml" />
	<!-- 自动扫描 -->
	<context:component-scan base-package="com.rtmap.traffic.mfd.*">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean id="pageCond" class="com.rtmap.traffic.mfd.domain.cond.PageCond">
		<property name="pageSize" value="10" />
	</bean>

	<!-- 航班动态数据同步线程 -->
<!-- 	<bean id="flightPekSynchronize" class="com.rtmap.traffic.mfd.service.impl.FlightPekSynchronize"> -->
<!-- 		<property name="httpClient"> -->
<!-- 			<ref bean="pekHttpClient" /> -->
<!-- 		</property> -->
<!-- 	</bean> -->

	<bean id="pekHttpClient" class="rtmap.frame.util.HttpClientUtils">
		<property name="scheme" value="http" />
		<property name="host" value="localhost" />
		<property name="actionPath" value="/mfd/bas/currentDateTime.do" />
		<property name="port" value="8080" />
	</bean>

	<!-- 动态变更处理线程 -->
<!-- 	<bean id="FlightChangeHandler" class="com.rtmap.traffic.mfd.service.impl.FlightChangeHandler" /> -->
</beans>




































