.box{padding-top:2.5rem;}
.box .flight,.box .address{padding:0 1rem; width:16rem;}
.box .nav{margin:1rem 1rem 0.9rem; width:16rem; height:1.6rem;overflow: hidden;border:1px solid #767676; 
	border-radius: 0.15rem; box-sizing:border-box;}
.box .nav ul{width:16rem;height:1.6rem;display:-webkit-box;}
.box .nav ul li{-webkit-box-flex:1;height:1.6rem;text-align: center;
	line-height: 1.6rem; border-left:1px solid #767676; 
	 font-size:0.76rem;}
.box .nav ul li.left{border-left:none;}
.box .nav ul li.active{background:#767676; color:#fff;}
.box .cont{display:none;}
.box .cont.active{display:block;}
.box .enter{width:16rem; padding:0.1rem 0 0.35rem 0; height:0.9rem; font-size:0.9rem;
 border-bottom:1px solid #d8d8db;}
.box .flight-num .enter{margin-bottom:0.65rem;}
.box .flight-date{margin-bottom:1.35rem;}
.box .flight-date .title{margin-bottom:0.65rem;}
.box .flight-date .sub-nav{width:16rem; height:1.33rem;border:1px solid #767676; 
	border-radius:0.15rem; box-sizing:border-box; overflow: hidden; margin-bottom:0.92rem;}
.box .flight-date .sub-nav ul{width:16rem; height:1.33rem; display:-webkit-box;}
.box .flight-date .sub-nav li{height:1.33rem; text-align: center;
line-height: 1.33rem; border-left:1px solid #767676;
	-webkit-box-flex:1;  font-size:0.7rem;}
.box .flight-date .sub-nav li.active{background:#767676; color:#fff;}
.box .flight-date .sub-nav li.left{border-left:none;}
.box .flight-date .date{width:16rem; overflow: hidden;}
.box .flight-date .date ul{ width:16rem; display:-webkit-box; margin-left:-1px;}
.box .flight-date .date ul li{-webkit-box-flex:1; border-left:1px solid #d8d8db;
color:#d8d8db; font-size:0.65rem; text-align:center; line-height: 1rem;}
.box .flight-date .date ul li p:nth-child(2){font-size:0.97rem;}
.box .flight-date .date ul li.active{color:#4f4f5f;;}
.box .flight-date .date ul li.active p:nth-child(1){color:#11a9ec;}
.box .select{width:16rem; background:#11a9ec; height:1.67rem;
text-align: center; line-height: 1.67rem; color:#fff; font-size:0.7rem;
margin-bottom:3.43rem; border-radius: 0.15rem;}
.box .address .add-inp{position:relative;}
.box .address .add-inp .cut{width:1.66rem; height:1.66rem; 
	background:url(../images/cut.png) no-repeat; background-size:cover; position:absolute;
right:1.35rem; top:50%; margin-top:-0.83rem; }
.box .flight .history .time{width:16rem;height:0.75rem; position:relative;}
.box .flight .history .time .left,
.box .flight .history .time .right
{width:6.47rem; height:1px; background:#d7d8dd;position:absolute;top:0.37rem; }
.box .flight .history .time .left{left:0.1rem; }
.box .flight .history .time .right{right:0.1rem;}
.box .flight .history .time .center{background:url(../images/time.png) no-repeat;
background-size:cover; position:absolute; left:50%; top:50%; margin-left:-0.37rem;
margin-top:-0.37rem; width:0.75rem; height:0.75rem;}
.box .flight .history .his-list ul{width:16rem; display:-webkit-box; height:2.4rem;
line-height: 2.4rem; color:#4f4f5f;}
.box .flight .history .his-list ul li{-webkit-box-flex:1; text-align: center;font-size:0.55rem;}

.box .address .enter{height:1.6rem; line-height: 1.6rem; padding:0;}
.box .address .flight-date .title{padding-top:0.9rem;}

/*城市选择部分*/
.city{display:none;}
.company{display:none;}
.city,.company{position:fixed; left:0; top:2.5rem;background:#f1f3f4; }
.list .search{padding:0.35rem 0; border-bottom:1px solid #d8d8db; 
	margin-bottom:0.67rem;}
.list .search p{background:url(../images/search.png) no-repeat; width:2.5rem;
height:1.83rem; background-size:cover;}
.list .search input{height:1.83rem; line-height: 1.83rem; padding-left:0.35rem;
border-left:1px solid #d8d8db;font-size:0.8rem;}
.list .list-cont{width:16rem; padding:0 1rem;}
.list .list-cont .nav{width:16rem; height:1.35rem; border:1px solid #767676;
	border-radius:0.15rem;overflow: hidden; margin-bottom:0.9rem; 
	box-sizing:border-box;}
.list .list-cont .nav ul{width:16rem; margin-left:-1px;
box-sizing:border-box; }
.list .list-cont .nav ul li{color:#767676;
height:1.35rem; line-height: 1.35rem; border-left:1px solid #767676;
text-align: center; font-size:0.7rem; width:8rem; box-sizing:border-box; float:left;}
.list .list-cont .nav ul li.active{background:#767676; color:#fff;}
.list .list-cont .cont{display:none;}
.list .list-cont .cont.active{display:block;}
.list .list-cont .cont .title{color:#11a9ec; font-size:0.63rem;}
.list .list-cont .cont .hot .hot-name{width:16rem; overflow:hidden;}
.list .list-cont .cont .hot .hot-name ul{margin-bottom:0.6rem;width:16.5rem;
}
.list .list-cont .cont .hot .hot-name ul li{font-size:0.7rem;
color:#4f4f5f; line-height:1.7rem;float:left;width:5rem; background:#eaeaea;
border-radius:0.15rem; text-align: center; margin:0.3rem 0.5rem 0.3rem 0;
}
.list.company .list-cont .cont .hot .hot-name ul{width:16rem; margin-bottom:0.6rem;}
.list.company .list-cont .cont .hot .hot-name ul li{float:none; font-size:0.8rem;
line-height: 1.5rem; color:#4f4f5f;margin:0 0 0.3rem 0; width:16rem; background:none; 
text-align: left;}
.list .list-cont .cont .hot .title{margin-bottom:0.4rem;}
.list .list-cont .cont .letter .title{margin-bottom:0.3rem;}
.list .list-cont .cont .letter .sub-title{font-size:0.63rem; color:#09091a;
padding:0.3rem 0;  border-bottom:1px solid #d8d8db;}
.list .list-cont .cont .letter .letter-name .sub-cont{margin-bottom:0.5rem;
border-bottom:1px solid #d8d8db; display:none; overflow:hidden;}
.list .list-cont .cont .letter .letter-name .sub-cont ul{margin-top:-1px; }
.list .list-cont .cont .letter .letter-name .sub-cont.active{display:block;}
.list .list-cont .cont .letter .letter-name .sub-cont li{font-size:0.8rem;
color:#4f4f5f;border-top:1px solid #eceeef; line-height: 2rem;}

.company.list .list-cont .cont .hot .hot-name ul li{float:none;}

.search-list{width:16rem; padding:0 1rem;
overflow:hidden;}
.search-list li{font-size:0.8rem;
color:#4f4f5f;border-bottom:1px solid #eceeef; line-height: 2rem;}
